:root {
    --heading-color: #2E2F42;
    --accent-color: #4D5AE5;
}

body {
    color: #434455;
    font-family: "Roboto", sans-serif;
}

.list {list-style: none;}
.link {text-decoration: none;}

/* -----header--- */
.header {
}
.header-navigation {
}
.logo-link {
}
.web {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.studio {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1,33;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--heading-color);
}
.header-list {
}
.header-item {
}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--heading-color);
}
.header-link:hover,
.header-link:focus {
color: var(--accent-color)
}
.header-mail, .header-tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color) 
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color) 
}

/* ----HERO---- */
.hero {
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
background-color: var(--heading-color);
}
.hero-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: var(--accent-color);
cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}
.btn {
}

/* -----FEATURES------ */
.features {
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.features-list {
}
.features-list-item {
}
.features-header {
 font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--heading-color);
}
.features-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* ----DOING--- */
.doing {
}
.doing-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--heading-color);
}
.doing-list {
}

/* -----TEAM----- */
